[Desktop Entry]
Name=UBdious
Exec=webapp-container --enable-back-forward --store-session-cookies --webappUrlPatterns=https?://vid.mint.lgbt/* $@ https://vid.mint.lgbt/
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
