[Desktop Entry]
Name=UBdius
Exec=webapp-container --enable-back-forward --store-session-cookies --webappUrlPatterns=https?://www.invidio.us/* $@ https://www.invidio.us/
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
